@keyframes open-menu {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes hidde-menu {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.menu {
  transform: translateX(0);
  animation: hidde-menu 0.2s forwards;
}

.open {
  animation: open-menu 0.2s forwards;
}

.close {
  animation: hidde-menu 0.2s forwards;
}

.sidebar {
  position: absolute;
  top: 58px;
  bottom: 0;
}

aside::after {
  content: '';
  background: #3b82f6;
  height: 100%;
  width: inherit;
  position: fixed;
  top: 0;
  z-index: -30;
  /* border-bottom-right-radius: 12px; */
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  /* border-radius: 12px; */
}
